.bg-orange {
  background-color: #fd7e14 !important;
}

.table {
  th {
    white-space: nowrap;
  }

  td {
    vertical-align: middle;
  }
}

.card {
  border-radius: 0.75rem;
}

.badge {
  font-weight: 500;
}